* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    
    font-family: 'Comfortaa', cursive;
    background-image: url('../img/london-3833039_1920.jpg');
}
/*****************************************/
/*************** HEADER ******************/
/*****************************************/

header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

header nav{
    background-color: gray;
    height: 100px;
    display: flex;
    box-shadow: 0 0 10px 0 black;
    

}

header nav div {
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;  
}

header nav div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

header nav img{
    width: 150px
}

header nav .insConnex{
    margin-left: 600px;
}

header nav .menu{
    margin-left: 50px;
}

header nav div a:hover{
    background-color: dimgray;
    transition: 0.6s;
    border-radius: 5px;
    
}

/*****************************************/
/*************** FOOTER ******************/
/*****************************************/

footer{
    margin-top: 20px;
    width: 100%;
    background-color: grey;
    height: 90px;
    display: flex;
    align-content: center;
    justify-content:space-between;
    align-items: center;
}

footer div a{
    padding: 20px;
}


footer div a{
    color: white;
    text-decoration: none;
}

footer div p{
    color: white;
}

footer div a:hover{
    background-color: dimgray;
    transition: 0.6s;
    border-radius: 5px;
    
}


/*******************************/
/*         CONNEXION           */
/*******************************/


.connex{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.connexion h1{
    text-transform: capitalize;
    
}
.connexion a{
    text-decoration: none;
}
.connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: dimgrey;
    width: 50%;
    margin-top: 200px;
    padding: 10px;
    color: white;
}
.connexion form{
    display: flex;
    flex-direction: column;
}
.connexion input{
    margin:10px;
    border-radius: 3px;
    border: 1px solid;
    border-color: darkgrey;
}
.connexion button{
    border-radius: 3px;
    border: 0;
}
/*******************************/
/*         INSCRIPTION         */
/*******************************/
/*section inscription*/
.inscri{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 150px;
    color: white;
}
.inscription h1{
    text-transform: capitalize;
}
.inscription {
    display: flex;
    align-items: center;
    align-content: space-around;
    background-color: dimgray;
    flex-direction: column;
    width: 40%;
    padding: 10px;
}
.inscription form{
    display: flex;
    flex-direction: column;
}
.inscription input{
    margin:10px;
    border-radius: 3px;
    border: 1px solid;
    border-color: darkgrey;
    
}
.inscription button{
    border-radius: 3px;
    border: 0;
}
